<!DOCTYPE html>
<html>
    <head>
        <title>Current Orders</title>

        {{>head}}

        <link href="css/style.css" rel="stylesheet" type="text/css">
        
    </head>

    <body>
        <div class="content">
            {{>nav}}

            {{>header}}
            
            <div class="content-wrap">
                <h1>About Us!</h1>
                <br><br><br><br>
                <h1 class="text-warning">Hi there, Thanks for visiting our website</h1>
                <h2 style="padding-left: 15px;">This Project is named ShopKart replicating an e-commerce website Made by Prayas.</h2>
                <h3 class="text-success">This page is added after Delpoyment</h3>
            </div>

            {{>footer}}
        </div>
    </body>
</html>