<!DOCTYPE html>
<html>
    <head>
        <title>Current Orders</title>

        {{>head}}

        <link href="css/style.css" rel="stylesheet" type="text/css">
        
    </head>

    <body>
        <div class="content">
            {{>nav}}

            {{>header}}
            
            <div class="content-wrap">
                
                <h1>Current Orders</h1>
            </div>

            {{>footer}}
        </div>
    </body>
</html>