<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ShopKart</a>
    </div>
    <ul class="navbar-nav">
        <a id="orders" class="nav-link" href="/order_details">Orders</a>
        <a id="cancelled" class="nav-link" href="/cancelled_orders">Cancelled Orders</a>
        <a id="under500" class="nav-link" href="/under_500">Orders </a>
        <a class="nav-link" href="/about">About</a>
    </ul>
</nav>